.calculatrice{
    border: 4px grey solid;
    width: 30vw;
    height: 90vh;
    background-color: lightgrey;
}



.btn{
    height: 75%;
    width: 100%;

}

.rondCouleur{
    width: 30vw;
    height: 60vh;
    border-radius: 50%;
    background-color: blueviolet;
    position: relative;
}

.champsDeTexte{
    text-overflow :ellipsis ;
}
.couleurRandom{
    height: 90vh;
    border: red 4px solid;
    width: 30vw;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
.carre{
    width: 80px;
    height: 50px;
}

.carres {
    width: 30vw;
}

.reset{
    background-color: #C7ACE7;
}
.temps {
    font-weight: bolder;
    font-size: 2em;
    height: 15px;
    color: black;
}