.calculatrice{
    border: 4px grey solid;
    width: 30vw;
    height: 90vh;
}



.btn{
    height: 75%;
    width: 100%;

}

.rondCouleur{
    width: 30vw;
    height: 60vh;
    border-radius: 50%;
    background-color: blueviolet;
}

.champsDeTexte{
    text-overflow :ellipsis ;
}